.users {
  padding: 1rem;
}

.users h2 {
  margin-bottom: 1rem;
}

.users__status {
  font-size: 1.2rem;
  padding: 1rem;
}

.users__status.error {
  color: red;
}

.users__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
}